<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/styles/main.css" />

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <script src="/scripts/bulma.js" defer></script>
    <script src="/scripts/main.js" defer></script>

    <title>SellItUp</title>
  </head>

  <body class="has-navbar-fixed-top">
    <!-- https://bulma.io/documentation/components/navbar/#fixed-navbar -->
    <nav
      class="navbar is-dark is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/products"> All Products </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu navbar-end">
          <a class="navbar-item" href="/products/new"> New Product </a>
      </div>
    </nav>
    <section class="hero is-medium has-background-light">
      <div class="hero-body">
        <h1 class="title">Product Show Page</h1>
      </div>
    </section>

    <div class="container is-max-widescreen p-5">
      <article class="media">
        <figure class="media-left">
          <p class="image is-328x328">
            <img src="<%= product.image %>" alt="product img" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <h3>name: <%= product.name %></h3>
            <small>price: $<%= product.price %></small>
            <div class="field mt-5 is-grouped">
              <div class="control">
                <a class="button is-info" href="/products/<%= product.id %>/edit">Edit Product
                </a>
              </div>
              <p class="control">
                <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                    <input class="button is-danger" type="submit" value="Delete Product"/>                    
                </form>
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </body>
</html>